.form-floating>label {
  top: -15px !important;
  color: #525A60;
}
.visualizar {
  position: absolute;
  right: 0;
  top: 16px;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
  color: #525A60;
}
