.menu {
  border-radius: 16px;
  box-shadow: 0 25px 25px -25px #0026ff34;
  padding: 20px;
  background-color: #fff;
  color: #697e91;
}

.menu>h2 {
  font-weight: 600 !important;
  color: #425275 !important;
}
